/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/04/2015, 5:03:52 PM
    Author     : amy.munro
*/
/*#container {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
}*/

p{
    font-family: Dosis;   
}

h1{
    color: #e98f00;
    font-family: dosis;
    text-align: center;
}

h3{
    color: #fff;
    font-family: dosis;
    text-align: center;
}
/*//----------------------------------------------------->> HEADER*/

#header{
    position: relative;
}

#header img{
    width: 100%;
    left: 0;
    top: 0;
    position: relative;
}

#header #name{
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    position: absolute;
    font-size: 60px;
    z-index: 100;
    width: 100%;
}

h1 #nameorange{
    color: #e98f00;
}

h1 #namewhite{
    color: white;
}

#statement{
    font-size: 24px;
    color: white;
}

#nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}     

#nav ul li{
    display: inline;
    position: relative;
    font-family: Dosis;
    color: #e98f00;
    font-size: 20px;
    font-weight: bold;
    bottom: -50px;
    z-index: 100;
    padding: 35px;
}

/*//----------------------------------------------------->> ABOUT US / WHAT WE DO*/

.text{
    -webkit-column-count: 3;
    color: #445878;
}

#about{
    //width: 700px;
    text-align: center;
    color: #445878;
}


/*//----------------------------------------------------->> PROJECTS*/

.projects{
    background-color: #445878;
    color: white;
    
}
h3{
    color: #e98f00;
}
.project{
    width: 350px;
    text-align: center;
    color: white;
    padding: 10px 10px 10px 10px; 
}

.thumb{
    border-radius: 15px 50px 30px;
}

#contact{
  background-color: #445878;
  
}
#contact p{
    color: white;
}

.form-group .control-label {
    color: white;
    font-family: Dosis;
    font-style: normal;
}

.form-group{
    font-family: Dosis;
}

.form-group .btn btn-primary{
    background-color: #e98f00;
}

.form-group .col-md-12 .text-danger {
    color: red;
}

#namewhite{
    color: white;
}

#nameorange{
    color: #e98f00;
}
.modalDialog h1{
    color: #e98f00;
}

.modalDialog {
	position: fixed;
	font-family: Dosis;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	text-align: center;
	position: relative;
	margin:   10% auto;
	padding: 20px 20px 20px 20px;
	
	background: #445878;
	
}


